.navbar {
  z-index: 10;
  height: 10vh;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  display: flex !important;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  align-self: center;
  a {
    color: rgb(133, 85, 13);
    height: 10vh;
  }

  ul,
  li {
    list-style-type: none;
  }

  .navbar-collapse {
    width: 100%;
    display: flex;
    align-content: center;
    height: 10vh;
  }

  .mr-auto {
    display: flex !important;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-self: center;
    align-content: center;
    width: 100%;
    height: 10vh;

    li {
      display: flex;
      align-content: center;
      align-self: center;
      height: 10vh;
      width: 100%;

      a {
        display: flex;
        align-self: center;
        margin: 0 auto;
      }
    }

    li:hover {
      background-color: rgba(216, 197, 161, 0.856);
      font-weight: bold;
      font-size: 15px;
      @media screen and (max-width: 640px) {
        font-size: 14px;
      }
      a {
        text-decoration: none;
      }
    }


}
}
@media screen and (max-width: 640px) {
  .navbar{
    font-size: 10px;
    height: 6vh !important;
    margin: 0;
  }
  a{
    height: 100% !important;
  }
  .navbar-brand{
    display: none;
  }
  .navbar-collapse{
    padding: 0;
    height: 100% !important;
  }
  .mr-auto{
    justify-content: center;
    height: 100% !important;
  }
  ul{
    padding-left: 25px;
  }
  li{
    align-content: center;
    justify-content: center;
    height: 100% !important;
  }
  .nav-link{
    align-items: center;
    align-self: center;
    height: 100% !important;
    padding: 0;
  }

}
