
<nav class="navbar navbar-expand-lg navbar-light bg-light  col-xs-12 d-none">
    <a class="navbar-brand " href="#">Accueil</a>
 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/presences">Confirmer sa présence</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/plans">Plans/Itinéraires</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logements">Logements</a>
            </li>
            <li class="nav-item contact">
              <a class="nav-link" href="/contact">Nous contacter</a>
            </li>
      </ul>
    </div>
  </nav>
    