.logements{
    background-color: rgba(216, 197, 161, 0.856);
    
    ul{
        list-style-type: none;
    }
}


.logementsbis{
        padding-top: 2%;
}

@media screen and (max-width: 640px) {
    .logements{
        padding: 0 2% !important;
        height: auto;
    }
ul, li{
    padding:0;
    margin: 0;
}

  }
