<div class="presences col-xs-12">
  <form>
    <h4>Afin de confirmer ta disponibilité, recherche ton nom et rempli le formulaire qui s'affichera.</h4>
    <div class="search">
      <input class="form-control mr-sm-2" type="search" placeholder="Nom de famille" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
    </div>
    <h3>Bonjour <strong>Ambre !</strong></h3>
    <div class="present">
      <p>Seras-tu présent(e) à notre mariage?</p>
      <div class="question">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="presence" id="presence1" value="option1" checked>
          <label class="form-check-label" for="presence1">
            oui
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="presence" id="presence2" value="option2">
          <label class="form-check-label" for="presence2">
            non
          </label>
        </div>
        <select>
          <option>Samedi</option>
          <option>Samedi et Dimanche</option>
        </select>
      </div>
    </div>

    <div class="allergies">
      <p>As-tu des allergies alimentaires?</p>
      <div class="question">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="allergies" id="allergies1" value="option1" checked>
          <label class="form-check-label" for="allergies1">
            oui
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="allergies" id="allergies2" value="option2">
          <label class="form-check-label" for="allergies2">
            non
          </label>
        </div>
        <input class="form-control preciser" type="text" placeholder="Préciser">
      </div>

    </div>

    <div class="accompagnant">
      <p>Seras-tu accompagné?</p>
      <div class="question">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="accompagnant" id="accompagnant1" value="option1" checked>
          <label class="form-check-label" for="accompagnant1">
            oui
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="accompagnant" id="accompagnant2" value="option2">
          <label class="form-check-label" for="accompagnant2">
            non
          </label>
        </div>
        <select>
          <option>Adulte</option>
          <option>Enfant</option>
        </select>
        <input class="form-control" type="text" placeholder="Nom" >
        <input class="form-control" type="text" placeholder="Prénom" >
        <input class="form-control" type="text" placeholder="Age de l'enfant..." >
      </div>
    </div>

    <div class="allergiesbis">
      <p>Il/Elle a-t-il des allergies alimentaires?</p>
      <div class="question">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="allergiesbis" id="allergiesbis1" value="option1" checked>
          <label class="form-check-label" for="allergiesbis1">
            oui
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="allergiesbis" id="allergiesbis2" value="option2">
          <label class="form-check-label" for="allergiesbis2">
            non
          </label>
        </div>
        <input class="form-control preciser" type="text" placeholder="Préciser" >
      </div>
    </div>
    <div class="submit">
      <button type="submit" class="btn btn-primary mb-2">Enregistrer</button>
    </div>

  </form>

</div>
