<div class="logements col-xs-12">
  <ul class="col-xs-12 col-md-6">
    <li>
      <h3>Hôtel la plage</h3>
      <p>10 chambres</p>
      <ul>
          <li>Tarifs à partir de 56 € selon la chambre</li>
          <li>Les animaux ne sont pas admis dans l’établissement</li>
      </ul>
      <br>
      <address>
          Adresse: Route de la Plage Napoléon<br>
            13230 Port-Saint-Louis-du-Rhône
      </address>
      <p>Téléphone : 06 15 66 27 53 et 04 42 86 13 11</p>
    </li>

    <li>
      <h3>Hôtel François</h3>
      <p>15 chambres</p>
      <ul>
            <li>Tarifs à partir de 49 € selon la chambre</li>
            <li>Gratuité pour les enfants de moins de 4 ans (hébergement et petit déjeuner)</li>
            <li>Les animaux sont les bienvenus</li>
        </ul>
        <br>
      <address>
            Adresse: 1, rue Joseph Gallas - Faubourg Hardon<br>
            13230 Port-Saint-Louis-du-Rhône
      </address>
      <p>Téléphone : 04 90 56 52 94</p>
    </li>
  </ul>
  <ul class="logementsbis col-xs-12 col-md-6">
      <h4>Il y a peu de logements dans les environs, alors pensez à réserver le plus tôt possible!!</h4>
      <p>Ceci est une suggestion d'hôtels faciles d'accès et proches. Vous pouvez bien entendu réserver ailleurs, mais il faudra choisir un logement <strong>soit dans Port saint Louis, soit sur la même rive que le Mas.</strong> Sinon, vous risquez de devoir payer le transport en bateau pour traverser.</p>
        <li>
          <h3>Airbnb</h3>
          <p>Pensez à réserver tôt!</p>
          <p>Site : <a href="https://www.airbnb.fr/">https://www.airbnb.fr/</a></p>
        </li>
    
        <li>
          <h3>Booking</h3>
          <p>Pensez à réserver tôt!</p>
          <p>Site : <a href="https://www.booking.com/">https://www.booking.com/</a></p>
        </li>
      </ul>
</div>
